{% extends "base.twig" %}

{% block content %}

<section class="author-bio py-5 mt-5">
	<div class="container container-1088">
		{# Author Intro #}
		<div class="container py-3">
			<div class="row">
				<div class="col-sm-12 col-lg-4">
					<div class="author-info">
						<img src="{{ author.profile_picture_url}}" alt="author-image" />
						<h4 class="py-2 mb-2 author-name">{{ author.display_name }}!</h4>
						{% if author.degrees_andor_titles %}
							<ul class="author-title">
								{% for degree in author.degrees_andor_titles %}
									{% set name = degree.degrees %}
									<li><p>{{ name }}</p></li>
								{% endfor %}
							</ul>
						{% endif %}
						{% if  author.years_of_experience %}
							<h6 class="author-exp">Years of experience working in relevant areas: {{ author.years_of_experience }}</h6>
						{% endif %}
						<div class="author-socials py-2 mb-2">
							<a href="{{ author.facebook }}"><i class="fa-brands fa-facebook"></i></a>		
							<a href="{{ author.instagram }}"><i class="fa-brands fa-instagram"></i></a>
							<a href="{{ author.linkedin }}"><i class="fa-brands fa-linkedin"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-lg-8">
					{% if  author.description %}
						<div class="author-desc">
							<p>{{ author.description }}</p>
						</div>
					{% endif %}
				</div>
			</row>
		</div>
		{# Author Work #}
		<div class="container py-3 mt-5">
			<div class="row rw-details">
				{# Published Works #}
				<div class="col-sm-12 col-lg-4">
					{% if author.published_works_list %}
						<div class="author-publish-work">
							<h5>Published Works</h5>
							<ol>
								{% for work in author.published_works_list %}
									{% set title = work.publish_title %}
									{% set url = work.publish_link %}
									<li><a href="{{ url }}">{{ title }}</a></li>
								{% endfor %}
							</ol>
						</div>
					{% endif %}
				</div>
				{# Citations #}
				<div class="col-sm-12 col-lg-4">
					{% if author.citations %}
						<div class="author-citation">
							<h5>Citations</h5>
							<ul>
								{% for citations in author.citations %}
									{% set details = citations.citation_details %}
									<li><p>{{ details }}</p></li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				</div>
				{# Conference appearances #}
				<div class="col-sm-12 col-lg-4">
				{% if author.conference_appearances %}
					<div class="author-conference">
						<h5>Conference Appearances</h5>
						<ul>
							{% for conference in author.conference_appearances %}
								{% set name = conference.event_name %}
								{% set date = conference.event_date %}
								<li><p><span class="conf-date">{{ date }}</span> : {{ name }}</p></li>
							{% endfor %}
						</ul>
					</div>
				{% endif %}
				</div>
			</div>
		</div>
		{# Author Job & Media #}
		<div class="container py-3 mt-3">
			<div class="row rw-details">
				{# Media Coverage #}
				<div class="col-sm-12 col-lg-6">
					{% if author.media_coverage %}
						<div class="author-media">
							<h5>Media Coverage</h5>
							<ul>
								{% for media in author.media_coverage %}
									{% set outlet = media.media_outlet %}
									{% set details = media.coverage_details %}
									<li><p><span class="media-outlet">{{ outlet }}</span>: {{ details }}</p></li>
								{% endfor %}
							</ul>
						</div>
					{% endif %}
				</div>
				{# Past Jobs #}
				<div class="col-sm-12 col-lg-6">
					{% if author.past_jobs %}
					<div class="author-jobs">
						<h5>Past Jobs</h5>
						<ul>
							{% for jobs in author.past_jobs %}
								{% set title = jobs.job_title %}
								{% set employer = jobs.employer %}
								<li>
									<div class="job-title"><p>{{ title }}</p></div> 
									<div class="company"><p>{{ employer }}</p><div>
								</li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

<section class="author py-3 mt-3">
	<div class="container container-1088">
		<span class="hub-featured-section-title results-section-title d-none d-xl-block">RECENT POSTS</span>
	</div>
	<div class="container container-1088">
		<div class="category-post-list-grid">
			
			<div class="flex-column nav-pills category-filters"
			id="v-pills-tab"
			role="tablist"
			aria-orientation="vertical">
			<span class="hub-featured-section-title mt-0 filter-by-title">
				{{ post.post_filters_section_title }}
			</span>
			{{ filter_id | shortcodes }}
		</div>
		<div class="category-results-wrapper">
		<span class="hub-featured-section-title results-section-title d-xl-none">{{ post.post_results_section_title }}</span>
		
			<div class="tab-content category-results" id="v-pills-tabContent">
				{% for post in ttcposts %}
				
					<div class="single-post-wrapper">
						<div class="post-image-wrapper">
							<a href="{{ post.link }}"><img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" class="post-image" /></a>
							<div class="post-image-badge">
								{% for category in post.categories %}
									{{ category }}{% if loop.length > 1 and loop.index < loop.length %},{% endif %}
								{% endfor %}
							</div>
						</div>
						<div class="post-text-wrapper">
							<span class="post-categories">
								{% for category in post.categories %}
									{{ category }}{% if loop.length > 1 and loop.index < loop.length %},{% endif %}
								{% endfor %}
							</span>
							<span class="single-post-title">
								<a href="{{ post.link }}">
									{{ (post.title|length) > 95 ? (post.title|slice(0, 95)) ~ '...' : post.title }}
								</a>
							</span>
							<p class="single-post-excerpt">
								{% if post.post_excerpt_custom %}
									{{ post.post_excerpt_custom }}
								{% else %}
									{{ post.preview.length(10).force.read_more('') }}
								{% endif %}
							</p>
							<p>
								<small>
									By: <a href="{{ author.url }}">{{ author.display_name }}</a>
								</small>
							</p>
						</div>
					</div>
				{% endfor %}
				</div>
				<div class="pagination-bootstrap">
					<nav aria-label="Resource Hub Posts, Numbered Navigation, 10 per page">
						<ul class="pagination justify-content-center">
							<li class="page-item">
							{% if ttcposts.pagination.prev %}
										<a class="page-link" href="{{ ttcposts.pagination.prev.link }}" aria-label="Previous">
											<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
										</a>

								{% else %}
										<a class="page-link" disabled>
											<span aria-hidden="true">&laquo;</span>
								<span class="sr-only">Previous</span>
										</a>
								{% endif %}

							</li>
							{% for page in ttcposts.pagination.pages %}
										{% if page.link %}
											<li class="page-item"><a href="{{ page.link }}" class="page-link {{ page.class }}">{{ page.title }}</a></li>
										{% else %}
											<li class="page-item {% if 'current' in page.class %} active {% endif %}"><a class="page-link {{ page.class }}">{{ page.title }}</a></li>
										{% endif %}
									{% endfor %}

							{% if ttcposts.pagination.next %}
										<a class="page-link" href="{{ ttcposts.pagination.next.link }}" aria-label="Next">
											<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
										</a>

								{% else %}
										<a class="page-link" disabled>
											<span aria-hidden="true">&raquo;</span>
								<span class="sr-only">Next</span>
										</a>
								{% endif %}
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</section>
		


{% endblock %}