<header class="nav-wrapper position-relative">
	<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light fixed-top">
		<div class="container-fluid nav-container">
			<div class="w-100 d-flex nav-row-wrapper">
				<div class="nav-brand-wrapper d-flex justify-content-between w-100">
					<a class="navbar-brand" href="{{ site.url }}">
						<img class="nav-logo" src="{{ options.site_logo.url }}" alt="{{ options.site_logo.alt }}" />
					</a>
					<div class="burger-cta-wrapper">
					<button id="hamburger-menu-icon"
						class="navbar-toggler"
						data-trigger="navbar_main"
						type="button"
						data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<a href="{{ options.cta_button_link }}"
									id="cta-btn-nav"
									class="main-btn cta-btn white-hover mobile-cta"
									style="color: {{ options.cta_button_color }}">
									{{ options.cta_button_text }}
								</a>
					</div>
				</div>
				<div class="p-0 d-flex">
					<div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							{% for item in menu.items %}
								<li class="nav-item {{ item.classes|join(' ') }}">
									<a id="nav-link-{{ loop.index }}"
										class="nav-link"
										href="{{ item.link ? item.link : 'javascript:;' }}">
										{{ item.title }}
										<img class="nav-arrow {{ item.title == 'contact' ? 'd-none' : '' }}"
											src="{{ options.nav_arrow.url }}" />
									</a>
								</li>
							{% endfor %}

							{# <li class="nav-item">
								<a href="{{ options.icon_code_1_link }}" class="nav-icon">
									<img id="nav-icon-2"
										src="{{ options.icon_1.url }}"
										class="fas nav-icon {{ options.font_awesome_icon_code_1 }}" />
								</a>
							</li>
							<li class="nav-item">
								<a href="{{ options.icon_code_2_link }}" class="nav-icon">
									<img id="nav-icon-2"
										src="{{ options.icon_2.url }}"
										class="fas nav-icon {{ options.font_awesome_icon_code_2 }}" />
								</a>
							</li> #}
							<li class="nav-item menu-expand hidden">
							<a href="javascript:;"><i class="fa-solid fa-angle-left"></i> menu</a>
							</li>
							<li class="nav-item">
								<a href="{{ options.cta_button_link }}"
									id="cta-btn-nav"
									class="main-btn cta-btn white-hover"
									style="color: {{ options.cta_button_color }}">
									{{ options.cta_button_text }}
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="sub-nav-area-1" class="sub-nav-wrapper w-100 dropdown-content">
			<div class="container sub-nav-container-775">
				<div class="w-100 my-5 sub-nav-row-2">
					<div class="subnav-border-right">
						<span class="subnav-title">
							{{ options.subnav_1_title_1 }}
						</span>
						<img class="subnav-1-image img-fluid"
								src="{{ options.subnav_1_image.url }}"
								alt="{{ options.subnav_1_image.alt }}" />
						<div class="link-left">
							<h2 class="subnav-link-title">
								{{ options.subnav_1_heading_1 }}
							</h2>
							<p class="subnav-paragraph">
								{{ options.subnav_1_paragraph_1 }}
							</p>
							<div class="learn-more-wrapper">
								<a href="{{ options.subnav_1_link_url }}">
									<div class="learn-more-link">
										{{ options.subnav_1_link_text }}
									</div>
								</a>
							</div>
						</div>
					</div>
					{# <div class="line-divider"></div> #}
					<div class="">
						<span class="subnav-title">
							{{ options.subnav_1_title_2 }}
						</span>
						<ul>
							{% for item in options.subnav_1_col_2_link %}
							<a href="{{ item.url }}" class="subnav-link-a">
								<li class="subnav-li">
									<div class="link-icon-subnav">
										<img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" />
									</div>
									<div class="link-left">
										<h2 class="subnav-link-title bold-smaller">
											{# <a href="{{ item.url }}">{{ item.title }}</a> #}
											{{ item.title }}
										</h2>
										<div class="subnav-link-subtitle">
											{{ item.subtitle }}
										</div>
									</div>
								</li>
								</a>
								<div class="mb-2 pb-4"></div>
							{% endfor %}
						</ul>
					</div>
					{# <div class="">
						<span class="subnav-title">
							{{ options.subnav_1_title_3 }}
						</span>
						<ul>
							{% for item in options.subnav_1_col_3_link %}
								<li class="subnav-li mb-4 pb-3">
									<div class="link-icon-subnav">
										<img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" />
									</div>
									<div class="link-left">
										<h2 class="subnav-link-title bold-smaller">
											<a href="{{ item.url }}">{{ item.title }}</a>
										</h2>
										<div class="subnav-link-subtitle">
											{{ item.subtitle }}
										</div>
									</div>
									<div class="link-right-subnav">
										<a href="{{ item.url }}">
											<img src="{{ options.subnav_link_arrow.url }}"
												alt="{{ options.subnav_link_arrow.alt }}" />
										</a>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div> #}
				</div>
			</div>
		</div>
		<div id="sub-nav-area-2" class="sub-nav-wrapper w-100 dropdown-content">
			<div class="container sub-nav-container-1075">
				<div class="w-100 my-5 sub-nav-row-3">
					<div class="">
						<span class="subnav-title">
							{{ options.subnav_2_title_1 }}
						</span>
						<ul>
							{% for item in options.subnav_2_col_1_link %}
							<a href="{{ item.url }}" class="subnav-link-a">
								<li class="subnav-li">
									<div class="link-left">
										<h2 class="subnav-link-title bold-smaller">
											{{ item.title }}
										</h2>
										<div class="subnav-link-subtitle">
											{{ item.subtitle }}
										</div>
									</div>
								</li>
								</a>
								<div class="mb-2 pb-4"></div>
							{% endfor %}
						</ul>
					</div>
					<div class="line-divider"></div>
					<div class="">
						<span class="subnav-title">
							{{ options.subnav_2_title_2 }}
						</span>
						<ul>
							{% for item in options.subnav_2_col_2_link %}
							<a href="{{ item.url }}" class="subnav-link-a">
								<li class="subnav-li">
									<div class="link-left">
										<h2 class="subnav-link-title bold-smaller">
											{{ item.title }}
										</h2>
										<div class="subnav-link-subtitle">
											{{ item.subtitle }}
										</div>
									</div>
								</li>
								</a>
								<div class="mb-2 pb-4"></div>
							{% endfor %}
						</ul>
					</div>
					<div class="">
						<span class="subnav-title" style="visibility: hidden;">
							{{ options.subnav_2_title_3 }}
						</span>
						<ul>
							{% for item in options.subnav_2_col_3_link %}
							<a href="{{ item.url }}" class="subnav-link-a">
								<li class="subnav-li">
									<div class="link-left">
										<h2 class="subnav-link-title bold-smaller">
										{{ item.title }}
										</h2>
										<div class="subnav-link-subtitle">
											{{ item.subtitle }}
										</div>
									</div>
								</li>
								</a>
								<div class="mb-2 pb-4"></div>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="sub-nav-area-3" class="sub-nav-wrapper w-100 dropdown-content">
			<div class="container sub-nav-container-960">
				<div class="row w-100 my-5">
					<div class="col-4">
						<span class="subnav-title">
							{{ options.subnav_3_title_1 }}
						</span>
						<ul>
							{% for item in options.subnav_3_col_1_link %}
							<a href="{{ item.url }}" class="subnav-link-a">
								<li class="subnav-li">
									<div class="link-left">
										<h2 class="subnav-link-title bold-smaller">
											{{ item.title }}
										</h2>
										{# <div class="subnav-link-subtitle">
											{{ item.subtitle }}
										</div> #}
									</div>
								</li>
								</a>
								<div class="mb-2 pb-1"></div>
							{% endfor %}
						</ul>
					</div>
					<div class="col-8">
						<div class="subnav-3-right-wrapper">
							<div class="line-divider"></div>
							<img class="featured-post-image"
								src="{{ options.subnav_3_col_2_image.url }}"
								alt="{{ options.subnav_3_col_2_image.alt }}" />
							<div class="featured-post-text-area">
								<span class="d-block featured-post-category">{{ options.subnav_3_col_2_subtitle }}</span>
								<a href="{{ options.subnav_3_col_2_url }}" class="subnav-link-a">
									<h2 class="featured-post-title">
										{{ options.subnav_3_col_2_title }}
									</h2>
								<p class="featured-post-paragraph">
									{{ options.subnav_3_col_2_paragraph }}
								</p>
								</a>
								{# <div class="featured-post-arrow">
									<a href="{{ options.subnav_3_col_2_url }}">
										<img src="{{ options.subnav_link_arrow.url }}"
											alt="{{ options.subnav_link_arrow.alt }}" />
									</a>
								</div> #}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="sub-nav-area-4" class="sub-nav-wrapper w-100 dropdown-content">
			<div class="container sub-nav-container-960">
				<div class="row w-100 my-5">
					<div class="col-4">
						<span class="subnav-title">
							{{ options.subnav_4_title_1 }}
						</span>
						<ul>
							{% for item in options.subnav_4_col_1_link %}
							<a href="{{ item.url }}" class="subnav-link-a" {% if item.title == 'Careers'%} target="_blank" {% endif %}>
								<li class="subnav-li">
									<div class="link-left">
										<h2 class="subnav-link-title bold-smaller">
											{{ item.title }}
										</h2>
										{# <div class="subnav-link-subtitle">
											{{ item.subtitle }}
										</div> #}
									</div>
								</li>
								</a>
								<div class="mb-2 pb-1"></div>
							{% endfor %}
						</ul>
					</div>
					<div class="col-8">
						<div class="subnav-3-right-wrapper">
							<div class="line-divider"></div>
							<div>
								<span class="subnav-title">
									{{ options.subnav_4_title_2 }}
								</span>
								<img class="featured-post-image"
									src="{{ options.subnav_4_col_2_image.url }}"
									alt="{{ options.subnav_4_col_2_image.alt }}" />
							</div>
							<div class="featured-post-text-area">
								<span class="d-block featured-post-category mt-25px">
									{{ options.subnav_4_col_2_subtitle }}
								</span>
								<a href="{{ options.subnav_4_col_2_url }}" class="subnav-link-a">
									<h2 class="featured-post-title">
										{{ options.subnav_4_col_2_title }}
									</h2>
								<p class="featured-post-paragraph">
									{{ options.subnav_4_col_2_paragraph }}
								</p>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>
<!-- ============= Mobile Nav - Level 1 ============== -->
<nav id="navbar_main" class="mobile-offcanvas navbar navbar-expand-lg mobile-nav d-lg-none py-0">
	<div class="w-100 mobile-nav-wrapper-flex">
		<div>
			<ul class="navbar-nav navbar-nav-moible mt-3">
				{% for item in menu.items %}
					<li class="nav-item {{ item.classes|join(' ') }}">
						<a id="mobile-nav-link-{{ loop.index }}"
							class="nav-link mobile-nav-link"
							href="{{ item.title == 'contact' ? '/contact' : 'javascript:;' }}">
							{{ item.title }}
							<img class="mobile-nav-link-arrow {{ item.title == 'contact' ? 'd-none' : '' }}"
								src="{{ options.subnav_link_arrow.url }}"
								alt="{{ options.subnav_link_arrow.alt }}" />
						</a>
					</li>
				{% endfor %}
			</ul>
			{# <ul class="mobile-icons-ul">
				<li class="nav-item mobile-icon-left">
					<a href="{{ options.icon_code_1_link }}" class="nav-icon">
						<img id="nav-icon-1"
							src="{{ options.icon_1.url }}"
							class="fas nav-icon {{ options.font_awesome_icon_code_1 }}" />
					</a>
				</li>
				<li class="nav-item">
					<a href="{{ options.icon_code_2_link }}" class="nav-icon">
						<img id="nav-icon-2"
							src="{{ options.icon_2.url }}"
							class="fas nav-icon {{ options.font_awesome_icon_code_1 }}" />
					</a>
				</li>
			</ul> #}
		</div>
		<ul class="navbar-nav navbar-nav-moible">
			<li><span class="nav-link mobile-btn-close mobile-btn-close-back fc-orange">close</span></li>
		</ul>
	</div> <!-- container-fluid.// -->
</nav>
<!-- ============= Mobile Menu Submenu (Level 2 - Link 1) // ============== -->
<div id="mobile_nav_submenu_1" class="mobile-offcanvas w-100 level-2 mobile-nav d-lg-none">
	<div class="w-100 pt-3">
		<div class="subnav-border-right">
			<span class="subnav-title">
				{{ options.subnav_1_title_1 }}
			</span>
			<img class="subnav-1-image img-fluid"
								src="{{ options.subnav_1_image.url }}"
								alt="{{ options.subnav_1_image.alt }}" />
			<div class="link-left">
				<h2 class="subnav-link-title subnav-link-title-heading">
					{{ options.subnav_1_heading_1 }}
				</h2>
				<div class="subnav-link-subtitle">
					{{ options.subnav_1_subheading_1 }}
				</div>
				<p class="subnav-paragraph">
					{{ options.subnav_1_paragraph_1 }}
				</p>
				<div class="learn-more-wrapper">
					<a href="{{ options.subnav_1_link_url }}">
						<div class="learn-more-link">
							{{ options.subnav_1_link_text }}
						</div>
					</a>
				</div>
			</div>
		</div>
		<div class="">
			<span class="subnav-title">
				{{ options.subnav_1_title_2 }}
			</span>
			<ul class="mobile-subnav-ul mb-0">
				{% for item in options.subnav_1_col_2_link %}
				<a href="{{ item.url }}" class="subnav-link-a">
					<li class="subnav-li">
						<div class="link-icon-subnav">
							<img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" />
						</div>
						<div class="link-left">
							<h2 class="subnav-link-title bold-smaller">
								{{ item.title }}
							</h2>
							<div class="subnav-link-subtitle">
								{{ item.subtitle }}
							</div>
						</div>
					</li>
					</a>
					{# <div class="mb-3 pb-3"></div> #}
				{% endfor %}
			</ul>
		</div>
		<div class="">
			<ul class="navbar-nav navbar-nav-moible">
				<li><span class="nav-link mobile-btn-close-back mobile-btn-back fc-orange py-0">back</span></li>
			</ul>
			<div class="py-5"></div>
		</div>
	</div>
</div>
<!-- ============= END - Mobile Menu Submenu (Level 2) ============== -->

<!-- ============= Mobile Menu Submenu (Level 2 - Link 2) // ============== -->
<div id="mobile_nav_submenu_2" class="mobile-offcanvas w-100 level-2 mobile-nav d-lg-none">
	<div class="w-100 pt-3">
		<div class="subnav-border-right">
			<span class="subnav-title">
				{{ options.subnav_2_title_1 }}
			</span>
			<ul class="mobile-subnav-ul">
				{% for item in options.subnav_2_col_1_link %}
				<a href="{{ item.url }}" class="subnav-link-a">
					<li class="subnav-li">
						<div class="link-left">
							<h2 class="subnav-link-title bold-smaller">
								{{ item.title }}
							</h2>
							<div class="subnav-link-subtitle">
								{{ item.subtitle }}
							</div>
						</div>
					</li>
					</a>
				{% endfor %}
			</ul>
		</div>
		<div class="horizontal-line"></div>
		<div class="">
			<span class="subnav-title">
				{{ options.subnav_2_title_2 }}
			</span>
			<ul class="mobile-subnav-ul">
				{% for item in options.subnav_2_col_2_link %}
				<a href="{{ item.url }}" class="subnav-link-a">
					<li class="subnav-li">
						<div class="link-icon-subnav d-none">
							<img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" />
						</div>
						<div class="link-left">
							<h2 class="subnav-link-title bold-smaller">
								{{ item.title }}
							</h2>
							<div class="subnav-link-subtitle">
								{{ item.subtitle }}
							</div>
						</div>
					</li>
					</a>
				{% endfor %}
			</ul>
		</div>
		<div class="">
			<span class="subnav-title">
				{{ options.subnav_2_title_3 }}
			</span>
			<ul class="mobile-subnav-ul">
				{% for item in options.subnav_2_col_3_link %}
				<a href="{{ item.url }}" class="subnav-link-a">
					<li class="subnav-li">
						<div class="link-icon-subnav d-none">
							<img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" />
						</div>
						<div class="link-left">
							<h2 class="subnav-link-title bold-smaller">
								{{ item.title }}
							</h2>
							<div class="subnav-link-subtitle">
								{{ item.subtitle }}
							</div>
						</div>
					</li>
					</a>
				{% endfor %}
			</ul>
			<ul class="navbar-nav navbar-nav-moible">
				<li><span class="nav-link mobile-btn-close-back mobile-btn-back fc-orange py-0">back</span></li>
			</ul>
			<div class="py-5"></div>
		</div>
	</div>
</div>
<!-- ============= END - Mobile Menu Submenu (Level 2 - Link 2) ============== -->

<!-- ============= Mobile Menu Submenu (Level 2 - Link 3) // ============== -->
<div id="mobile_nav_submenu_3" class="mobile-offcanvas w-100 level-2 mobile-nav d-lg-none">
	<div class="max-width-350 pt-3">
		<span class="subnav-title">
			{{ options.subnav_3_title_2 }}
		</span>
		<div class="col-12">
			<div class="subnav-3-right-wrapper-mobile">
				<img class="featured-post-image img-fluid"
					src="{{ options.subnav_3_col_2_image.url }}"
					alt="{{ options.subnav_3_col_2_image.alt }}" />
				<div class="featured-post-text-area-mobile pr-1">
					<span class="d-block featured-post-category">{{ options.subnav_3_col_2_subtitle }}</span>
					<a href="{{ options.subnav_3_col_2_url }}" class="subnav-link-a">
						<h2 class="featured-post-title featured-post-title-mobile">
							{{ options.subnav_3_col_2_title }}
						</h2>
					<p class="featured-post-paragraph featured-post-paragraph-mobile">
						{{ options.subnav_3_col_2_paragraph|excerpt(12) }}
					</p>
					</a>
				</div>
			</div>
		</div>
		<div class="horizontal-line mt-3 mt-md-4"></div>
		<div class="col-12">
			<span class="subnav-title">
				{{ options.subnav_3_title_1 }}
			</span>
			<ul class="mobile-subnav-ul">
				{% for item in options.subnav_3_col_1_link %}
				<a href="{{ item.url }}" class="subnav-link-a">
					<li class="subnav-li mb-2 pb-1">
						<div class="link-left">
							<h2 class="subnav-link-title bold-smaller">
								{{ item.title }}
							</h2>
							{# <div class="subnav-link-subtitle">
											{{ item.subtitle }}
										</div> #}
						</div>
					</li>
					</a>
				{% endfor %}
			</ul>
		</div>
		<div class="mb-4 pb-3"></div>
		<ul class="navbar-nav navbar-nav-moible">
			<li><span class="nav-link mobile-btn-close-back mobile-btn-back fc-orange py-0">back</span></li>
		</ul>
		<div class="py-5"></div>
	</div>
</div>
<!-- ============= END - Mobile Menu Submenu (Level 2 Link 3) ============== -->

<!-- ============= Mobile Menu Submenu (Level 2 - Link 4) // ============== -->
<div id="mobile_nav_submenu_4" class="mobile-offcanvas w-100 level-2 mobile-nav d-lg-none">
	<div class="max-width-350 pt-3">
		<div class="col-12">
			<span class="subnav-title">
				{{ options.subnav_4_title_1 }}
			</span>
			<ul class="mobile-subnav-ul">
				{% for item in options.subnav_4_col_1_link %}
				<a href="{{ item.url }}" class="subnav-link-a">
					<li class="subnav-li mb-2 pb-1">
						<div class="link-left">
							<h2 class="subnav-link-title bold-smaller">
								{{ item.title }}
							</h2>
							{# <div class="subnav-link-subtitle">
											{{ item.subtitle }}
										</div> #}
						</div>
					</li>
					</a>
				{% endfor %}
			</ul>
		</div>
		<span class="subnav-title">
			{{ options.subnav_4_title_2 }}
		</span>
		<div class="col-12">
			<div class="subnav-3-right-wrapper-mobile">
				<img class="featured-post-image img-fluid"
					src="{{ options.subnav_4_col_2_image.url }}"
					alt="{{ options.subnav_4_col_2_image.alt }}" />
				<div class="featured-post-text-area-mobile pr-1">
					<span class="d-block featured-post-category">{{ options.subnav_4_col_2_subtitle }}</span>
					<a href="{{ options.subnav_4_col_2_url }}" class="subnav-link-a">
						<h2 class="featured-post-title featured-post-title-mobile">
							{{ options.subnav_4_col_2_title }}
						</h2>
					<p class="featured-post-paragraph featured-post-paragraph-mobile">
						{{ options.subnav_4_col_2_paragraph|excerpt(8) }}
					</p>
					</a>
				</div>
			</div>
		</div>
		<div class="mb-4 pb-3"></div>
		<ul class="navbar-nav navbar-nav-moible">
			<li><span class="nav-link mobile-btn-close-back mobile-btn-back fc-orange py-0">back</span></li>
		</ul>
		<div class="py-5"></div>
	</div>
</header>
<!-- ============= END - Mobile Menu Submenu (Level 2 Link 3) ============== -->
