{% extends 'base.twig' %}

{% block content %}
	{% include 'product-hero.twig' %}
	<div class="two-col-wrapper">
		<div class="two-col-wrapper-inner container">
			<div class="two-col-row">
				<div class="image-side-alt">
					<img src="{{ Image(post.meta('two_col_image')).src }}"
						alt="{{ Image(post.meta('two_col_image')).alt }}"
						class="two-col-image-alt" />
				</div>
				<div class="text-side">
					<h2 class="two-col-heading">
						{{ post.two_col_heading }}
					</h2>
					<p class="two-col-paragraph">
						{{ post.two_col_paragraph }}
					</p>
				</div>
			</div>
		</div>
	</div>
	<section id="area-3">
		<h2 class="area-heading text-center">
			{{ post.area_3_heading }}
		</h2>
		<p class="area-paragraph text-center">
			{{ post.area_3_paragraph }}
		</p>
		<div class="area-columns-wrapper container container-1088">
			{% for item in post.meta('area_3_columns') %}
				<div class="single-column text-center">
					<img src="{{ item.image.url }}" alt="{{ item.image.alt }}" class="column-img" />
					<p class="column-description">
						<span class="column-description-bold">{{ item.bold_text }}</span> {{ item.regular_text }}
					</p>
				</div>
			{% endfor %}
		</div>
	</section>
	<section id="area-4">
		<div class="area-4-wrapper container">
			<div class="image-side">
				<img src="{{ Image(post.meta('area_4_image')).src }}"
					alt="{{ Image(post.meta('area_4_image')).alt }}"
					class="area-4-image" />
			</div>
			<div class="text-side">
				<h3 class="">
					{{ post.area_4_heading }}
				</h3>
				<p class="area-paragraph">
					{{ post.area_4_paragraph }}
				</p>
			</div>
		</div>
	</section>
	<section id="area-5">
		<div class="area-5-wrapper container">
			<div class="text-side">
				<h3 class="">
					{{ post.area_5_heading }}
				</h3>
				<p class="area-paragraph">
					{{ post.area_5_paragraph }}
				</p>
			</div>
			<div class="image-side">
				<img src="{{ Image(post.meta('area_5_image')).src }}"
					alt="{{ Image(post.meta('area_5_image')).alt }}"
					class="area-5-image img-fluid" />
			</div>
		</div>
	</section>
	<section id="area-6">
		<div class="area-6-wrapper container">
			<div class="image-side">
				<img src="{{ Image(post.meta('area_6_image')).src }}"
					alt="{{ Image(post.meta('area_6_image')).alt }}"
					class="area-6-image img-fluid" />
			</div>
			<div class="text-side">
				<h3 class="">
					{{ post.area_6_heading }}
				</h3>
				<p class="area-paragraph">
					{{ post.area_6_paragraph }}
				</p>
			</div>
		</div>
	</section>

	{% include 'cta-text-link.twig' %}
	<div class="py-3 py-md-4"></div>
	<div class="recommended-posts-wrapper">
		{% include 'recommended-posts.twig' %}
	</div>
{% endblock %}
