<main id="content">

	<div class="bootstrap-container">
		<div class="timber-oldfc">
			<div class="container-1140">
				<div class="container">

					<section class="authors py-3 pt-lg-4 pb-lg-5">
						<div class="container container-1088">

							<div class="row text-center">
								<div class="col">
									<h1 class="hero-heading">
										Meet Our Authors
									</h1>
									<p class="hero-paragraph">
										Since the founding of our organization, we empower sales professionals and
										leaders each year to
										master the craft of selling
									</p>
								</div>
							</div>

							<div class="row g-5">

								{% for author in authors %}

								<div class="col pt-4 text-center">
									<div class="card author h-100">
										<div>
											<img src="{{ author.profile_picture_url }}" alt="author-img">
										</div>
										<div class="display-name">
											<h3>{{ author.display_name }}</h3>
										</div>
										<div class="socials">
											{% if author.facebook_id %}
											<a href="{{ author.facebook_id }}"><i class="fa-brands fa-facebook"></i></a>
											{% endif %}
											{% if author.instagram_id %}
											<a href="{{ author.instagram_id }}"><i
													class="fa-brands fa-instagram"></i></a>
											{% endif %}
											{% if author.linkedin_id %}
											<a href="{{ author.linkedin_id }}"><i class="fa-brands fa-linkedin"></i></a>
											{% endif %}
										</div>
										<div class="description">
											{{ author.description }}
										</div>
										<div>
											<a class="main-btn brand-btn" href="{{ author.url }}">View Bio</a>
										</div>
									</div>
								</div>

								{% endfor %}

							</div>

						</div>
					</section>


				</div>
			</div>
		</div>
	</div>

</main>